%p 
	This is a new website dedicated on trying to make a better site overall, for no apparent reason besides me trying to learn stuff all around... and to improve my horrible grammar.


%h3 
	Sign in here

%form{action:'/home', method:'POST'}
	%label{for:'email'}
	%input{placeholder:'Enter your email here!',type:'text',name:'[user]email'}
	%br
	%label{for:'password'}
	%input{placeholder:'Enter your password', type:'text',name:'[user]password'}
	%br
	%input{type:'submit', value:'WHITE WHALE, HOLY GRAIL!'}