!!!
%html
	%title Fake Twit
	%link{rel:'stylesheet', href:'/style.css', type:'text/css'}

	%body
		%nav
			%ul.nav
				%li
					%a{href:"/home"} Home
				%li
					%a{href:"/profile"} Profile
				%li
					%a{href:"/signup"} Sign up!
				%li 
					%a{href:"/about"} About


		=yield

 		