!!!
 %html
 	%title Fake Twit
 	%link{rel:'stylesheet', ahref:'  ', type:'text/css'}

 	%body
 		%nav
 			%ul.nav
 			-["Home","Profile","Sign Up","About"].each do |i|
 				%li
 					%a{href:"/#{i}"}=i.lowercase


 		=yield

 		