%p Sign up here! 

%form{action:"/signup", method:"POST"}
	%label Name:
	%input{type: "text", name:"Name"}
	%label Email:
	%input{type: "text", name:"Email"}
	%label Username:
	%input{type:"text", name:"id"}
	%input{type:"submit"}

	